<div class="content" style="background: #000">
  <footer class="container" style="background: #000">
    <div class="row py-5 mb-5">
      <div class="col-12 col-md-6 text-center text-md-start">
        <svg width="115" height="29" viewBox="0 0 115 29" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_401_651)">
          <path d="M9.74047 28.8039C7.05253 28.8039 4.75373 27.8701 2.84407 25.9617C0.934413 24.0557 0 21.7583 0 19.0721C0 16.3859 0.934413 14.0886 2.84407 12.1801C4.75373 10.2717 7.05253 9.33789 9.74047 9.33789C11.8831 9.33789 13.8312 10.0004 15.5848 11.2847V9.33789H19.4809V28.8063H17.5328L15.5848 26.8595C13.8697 28.1438 11.9216 28.8063 9.74047 28.8063M9.74047 24.9127C11.3379 24.9127 12.7407 24.3293 13.8697 23.1987C14.9986 22.0704 15.5848 20.6685 15.5848 19.0721C15.5848 17.4757 15.001 16.0738 13.8697 14.9456C12.7407 13.8173 11.3379 13.2316 9.74047 13.2316C8.14308 13.2316 6.74026 13.8149 5.61128 14.9456C4.4823 16.0738 3.89619 17.4757 3.89619 19.0721C3.89619 20.6685 4.4799 22.0704 5.61128 23.1987C6.74026 24.3269 8.14308 24.9127 9.74047 24.9127Z" fill="#EB701F"/>
          <path d="M31.1695 9.3379V13.2316H27.2733V20.5125C27.2733 21.7199 27.7009 22.7714 28.5585 23.626C29.416 24.483 30.4297 24.9103 31.6355 24.9103V28.8039C29.3367 28.8039 27.3886 27.9854 25.7913 26.389C24.1939 24.7926 23.3748 22.8074 23.3748 20.5101V1.27686H27.2709V9.3355H31.1671L31.1695 9.3379Z" fill="#EB701F"/>
          <path d="M38.9883 9.33789H35.0921V28.8063H38.9883V9.33789Z" fill="#EB701F"/>
          <path d="M46.7399 9.33789L53.091 23.8996L59.4037 9.33789H63.6097L55.1952 28.8039H50.9483L42.4954 9.33789H46.7399Z" fill="#EB701F"/>
          <path d="M73.5856 28.8039C70.8976 28.8039 68.5988 27.8701 66.6892 25.9617C64.7795 24.0532 63.8451 21.7559 63.8451 19.0697C63.8451 16.3835 64.7795 14.0861 66.6892 12.1777C68.5988 10.2693 70.8976 9.33545 73.5856 9.33545C75.7282 9.33545 77.6763 9.998 79.4298 11.2823V9.33545H83.326V28.8039H81.3779L79.4298 26.8571C77.7148 28.1413 75.7667 28.8039 73.5856 28.8039ZM73.5856 24.9102C75.1829 24.9102 76.5858 24.3269 77.7148 23.1962C78.8437 22.068 79.4298 20.666 79.4298 19.0697C79.4298 17.4733 78.8461 16.0714 77.7148 14.9431C76.5858 13.8149 75.1829 13.2291 73.5856 13.2291C71.9882 13.2291 70.5854 13.8125 69.4564 14.9431C68.3274 16.0714 67.7413 17.4733 67.7413 19.0697C67.7413 20.666 68.325 22.068 69.4564 23.1962C70.5854 24.3245 71.9882 24.9102 73.5856 24.9102Z" fill="#EB701F"/>
          <path d="M87.2222 28.8039V9.30903C87.2222 7.01171 88.0413 5.02645 89.6387 3.43009C91.2361 1.83372 93.1842 1.01514 95.483 1.01514V4.90883C94.2748 4.90883 93.2611 5.33612 92.4059 6.19312C91.5484 7.05012 91.1208 8.10156 91.1208 9.30663V9.33544H95.017V13.2291H91.1208V28.8039H87.2246H87.2222Z" fill="#EB701F"/>
          <path d="M114.532 9.33777V13.2315H110.635V20.5123C110.635 21.7198 111.063 22.7712 111.921 23.6258C112.778 24.4828 113.792 24.9101 114.998 24.9101V28.8038C112.699 28.8038 110.751 27.9852 109.153 26.3889C107.556 24.7925 106.737 22.8072 106.737 20.5099V1.18311H110.633V9.33777H114.529H114.532Z" fill="#EB701F"/>
          <path d="M37.0402 0.803711C37.7032 0.803711 38.2869 1.03656 38.7145 1.50467C39.1829 1.93197 39.4159 2.5177 39.4159 3.17785C39.4159 3.838 39.1829 4.38533 38.7145 4.81263C38.2461 5.28073 37.7008 5.51359 37.0402 5.51359C36.3797 5.51359 35.832 5.28073 35.4044 4.81263C34.936 4.38533 34.703 3.8404 34.703 3.17785C34.703 2.5153 34.936 1.97038 35.4044 1.50467C35.832 1.03656 36.3773 0.803711 37.0402 0.803711Z" fill="#EB701F"/>
          <path d="M102.874 9.33789H98.9781V28.8063H102.874V9.33789Z" fill="#EB701F"/>
          </g>
          <defs>
          <clipPath id="clip0_401_651">
          <rect width="115" height="28" fill="white" transform="translate(0 0.803711)"/>
          </clipPath>
          </defs>
        </svg>

        <div class="d-flex gap-4 py-4 justify-content-center justify-content-md-start">
          <a
            target="_blank"
            class="text-light link-underline link-underline-opacity-0"
            href="https://www.instagram.com/ativafit_official"
          >
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M11.9997 0.636719C15.1695 0.636719 15.565 0.648385 16.8087 0.706719C18.0512 0.765052 18.897 0.959886 19.6413 1.24922C20.4113 1.54555 21.06 1.94689 21.7087 2.59439C22.3019 3.1776 22.761 3.88307 23.0538 4.66172C23.342 5.40489 23.538 6.25189 23.5963 7.49439C23.6512 8.73805 23.6663 9.13355 23.6663 12.3034C23.6663 15.4732 23.6547 15.8687 23.5963 17.1124C23.538 18.3549 23.342 19.2007 23.0538 19.9451C22.7618 20.7241 22.3027 21.4298 21.7087 22.0124C21.1253 22.6054 20.4199 23.0644 19.6413 23.3576C18.8982 23.6457 18.0512 23.8417 16.8087 23.9001C15.565 23.9549 15.1695 23.9701 11.9997 23.9701C8.82984 23.9701 8.43434 23.9584 7.19067 23.9001C5.94817 23.8417 5.10234 23.6457 4.35801 23.3576C3.57906 23.0653 2.87346 22.6062 2.29067 22.0124C1.69732 21.4293 1.23826 20.7238 0.945508 19.9451C0.656175 19.2019 0.461341 18.3549 0.403008 17.1124C0.348174 15.8687 0.333008 15.4732 0.333008 12.3034C0.333008 9.13355 0.344674 8.73805 0.403008 7.49439C0.461341 6.25072 0.656175 5.40605 0.945508 4.66172C1.23745 3.88259 1.69661 3.17693 2.29067 2.59439C2.87362 2.00082 3.57917 1.54174 4.35801 1.24922C5.10234 0.959886 5.94701 0.765052 7.19067 0.706719C8.43434 0.651885 8.82984 0.636719 11.9997 0.636719ZM11.9997 6.47005C10.4526 6.47005 8.96885 7.08463 7.87489 8.1786C6.78092 9.27256 6.16634 10.7563 6.16634 12.3034C6.16634 13.8505 6.78092 15.3342 7.87489 16.4282C8.96885 17.5221 10.4526 18.1367 11.9997 18.1367C13.5468 18.1367 15.0305 17.5221 16.1245 16.4282C17.2184 15.3342 17.833 13.8505 17.833 12.3034C17.833 10.7563 17.2184 9.27256 16.1245 8.1786C15.0305 7.08463 13.5468 6.47005 11.9997 6.47005ZM19.583 6.17839C19.583 5.79161 19.4294 5.42068 19.1559 5.14719C18.8824 4.8737 18.5114 4.72005 18.1247 4.72005C17.7379 4.72005 17.367 4.8737 17.0935 5.14719C16.82 5.42068 16.6663 5.79161 16.6663 6.17839C16.6663 6.56516 16.82 6.93609 17.0935 7.20958C17.367 7.48307 17.7379 7.63672 18.1247 7.63672C18.5114 7.63672 18.8824 7.48307 19.1559 7.20958C19.4294 6.93609 19.583 6.56516 19.583 6.17839ZM11.9997 8.80339C12.9279 8.80339 13.8182 9.17213 14.4745 9.82851C15.1309 10.4849 15.4997 11.3751 15.4997 12.3034C15.4997 13.2316 15.1309 14.1219 14.4745 14.7783C13.8182 15.4346 12.9279 15.8034 11.9997 15.8034C11.0714 15.8034 10.1812 15.4346 9.5248 14.7783C8.86842 14.1219 8.49967 13.2316 8.49967 12.3034C8.49967 11.3751 8.86842 10.4849 9.5248 9.82851C10.1812 9.17213 11.0714 8.80339 11.9997 8.80339Z" fill="#EB701F"/>
            </svg>
          </a>
          <a
            target="_blank"
            class="text-light link-underline link-underline-opacity-0"
            href="https://twitter.com/Ativafit1"
          >
            <svg width="24" height="20" viewBox="0 0 24 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M7.539 19.8048C16.596 19.8048 21.5505 12.3003 21.5505 5.80375C21.5505 5.59375 21.5505 5.38075 21.5415 5.17075C22.5061 4.47248 23.3386 3.60798 24 2.61775C23.099 3.01503 22.1441 3.27686 21.1665 3.39475C22.1963 2.77921 22.9676 1.8107 23.337 0.669251C22.3695 1.24244 21.3105 1.64481 20.2065 1.85875C19.4643 1.06829 18.4821 0.544627 17.4121 0.368887C16.3421 0.193147 15.2441 0.375133 14.288 0.886657C13.3319 1.39818 12.5712 2.21069 12.1237 3.19834C11.6761 4.18599 11.5668 5.29365 11.8125 6.34975C9.85461 6.25158 7.93922 5.74295 6.19056 4.85686C4.4419 3.97078 2.89903 2.72702 1.662 1.20625C1.03401 2.29088 0.842361 3.57385 1.12597 4.79465C1.40958 6.01545 2.14718 7.08255 3.189 7.77925C2.40831 7.75273 1.64478 7.54309 0.96 7.16725V7.23475C0.961346 8.37097 1.35496 9.47188 2.07431 10.3514C2.79366 11.2309 3.79462 11.8351 4.908 12.0618C4.48539 12.1782 4.04884 12.2362 3.6105 12.2343C3.30148 12.2352 2.99307 12.2066 2.6895 12.1488C3.00418 13.1268 3.61691 13.982 4.44187 14.5945C5.26683 15.2069 6.2627 15.546 7.29 15.5643C5.54483 16.935 3.3891 17.6784 1.17 17.6748C0.778981 17.6764 0.388235 17.6539 0 17.6073C2.25227 19.0431 4.86795 19.8056 7.539 19.8048Z" fill="#EB701F"/>
            </svg>
          </a>
          <a
            target="_blank"
            class="text-light link-underline link-underline-opacity-0"
            href="https://www.facebook.com/AtivaFitofficial"
          >
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M23.6663 12.3034C23.6663 5.86339 18.4397 0.636719 11.9997 0.636719C5.55967 0.636719 0.333008 5.86339 0.333008 12.3034C0.333008 17.9501 4.34634 22.6517 9.66634 23.7367V15.8034H7.33301V12.3034H9.66634V9.38672C9.66634 7.13505 11.498 5.30339 13.7497 5.30339H16.6663V8.80339H14.333C13.6913 8.80339 13.1663 9.32839 13.1663 9.97005V12.3034H16.6663V15.8034H13.1663V23.9117C19.058 23.3284 23.6663 18.3584 23.6663 12.3034Z" fill="#EB701F"/>
            </svg>
          </a>
        </div>
        <div><a target="_blank" href="/pages/contact-us" class="btn btn-primary px-4 py-2">Contact us</a></div>
      </div>
      <div class="col-12 col-md-2 d-flex align-items-center justify-content-center mt-3 mt-md-0">
        <ul class="flex-column ps-0">
          <li class="py-2 text-center text-md-start">
            <a
              target="_blank"
              class="text-light text-center text-md-start link-underline link-underline-opacity-0"
              href="/pages/about-us"
              >About us</a
            >
          </li>
          <li class="py-2 text-center text-md-start">
            <a
              target="_blank"
              class="text-light text-center text-md-start link-underline link-underline-opacity-0"
              href="/pages/service-member-appreciation"
              >Military & Service</a
            >
          </li>
          <li class="py-2 text-center text-md-start">
            <a
              target="_blank"
              class="text-light text-center text-md-start link-underline link-underline-opacity-0"
              href="/pages/satisfaction-guarantee"
              >Warranty</a
            >
          </li>
        </ul>
      </div>
      <div class="col-12 col-md-2  d-flex align-items-center justify-content-center">
        <ul class="flex-column ps-0">
          <li class="py-2 text-center text-md-start">
            <a
              target="_blank"
              class="text-light text-center text-md-start link-underline link-underline-opacity-0"
              href="/pages/ativafit-academy"
              >Ativa Academy</a
            >
          </li>
          <li class="py-2 text-center text-md-start">
            <a
              target="_blank"
              class="text-light text-center text-md-start link-underline link-underline-opacity-0"
              href="/pages/shipping-returns-returns-policy"
              >Returns</a
            >
          </li>
          <li class="py-2 text-center text-md-start">
            <a
              target="_blank"
              class="text-light text-center text-md-start link-underline link-underline-opacity-0"
              href="/policies/refund-policy"
              >Refunds</a
            >
          </li>
        </ul>
      </div>
      <div class="col-12 col-md-2 d-flex justify-content-center">
        <ul class="flex-column ps-0">
          <li class="py-2 text-center text-md-start">
            <a
              target="_blank"
              class="text-light text-center text-md-start link-underline link-underline-opacity-0"
              href="/pages/ativafit-media-mentions"
              >Media Mentions
            </a>
          </li>
          <li class="py-2 text-center text-md-start">
            <a
              target="_blank"
              class="text-light text-center text-md-start link-underline link-underline-opacity-0"
              href="/pages/satisfaction-guarantee"
              >Reviews
            </a>
          </li>
          <li class="py-2 text-center text-md-start">
            <a
              target="_blank"
              class="text-light text-center text-md-start link-underline link-underline-opacity-0"
              href="#"
            >
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row d-flex text-light justify-content-between">
      <div class="col-12 col-md-6 text-center"><p>© 2023 Ativafit - All Rights Reserved</p></div>
      <div class="col-12 col-md-6 text-center text-md-end">
        <a
          class="text-light link-underline link-underline-opacity-0 pe-3"
          target="_blank"
          href="/policies/terms-of-service"
          >Terms of use</a
        >
        <a class="text-light link-underline link-underline-opacity-0" target="_blank" href="/pages/privacy-policy"
          >Privacy policy
        </a>
      </div>
    </div>
  </footer>
</div>

{% schema %}
{
  "name": "Footer landing",
  "presets": [
    {
      "name": "Footer landing"
    }
  ]
}
{% endschema %}
