<header class="video-header">
  <video
    src="{{section.settings.video.sources[1].url}}"
    autoplay
    loop
    playsinline
    muted
  ></video>
  <div class="viewport-header">
    <div class="text-light">
      <h3>{{ section.settings.subtitle }}</h3>
      <h1 class="">{{ section.settings.title }}</h1>
      <svg width="88" height="25" viewBox="0 0 88 25" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M2.28422 6.04H8.02422C9.18422 6.04 10.0909 6.36667 10.7442 7.02C11.4109 7.67333 11.7442 8.54667 11.7442 9.64C11.7442 10.16 11.6709 10.6 11.5242 10.96C11.3776 11.32 11.1909 11.62 10.9642 11.86C10.7376 12.0867 10.4909 12.26 10.2242 12.38C9.95755 12.4867 9.71089 12.56 9.48422 12.6V12.72C9.73755 12.7333 10.0176 12.8 10.3242 12.92C10.6442 13.04 10.9442 13.2333 11.2242 13.5C11.5042 13.7533 11.7376 14.0867 11.9242 14.5C12.1242 14.9 12.2242 15.3867 12.2242 15.96C12.2242 16.5333 12.1309 17.0667 11.9442 17.56C11.7709 18.0533 11.5242 18.48 11.2042 18.84C10.8842 19.2 10.5042 19.4867 10.0642 19.7C9.62422 19.9 9.14422 20 8.62422 20H2.28422V6.04ZM3.96422 18.52H8.10422C8.82422 18.52 9.39089 18.34 9.80422 17.98C10.2176 17.6067 10.4242 17.0667 10.4242 16.36V15.68C10.4242 14.9733 10.2176 14.44 9.80422 14.08C9.39089 13.7067 8.82422 13.52 8.10422 13.52H3.96422V18.52ZM3.96422 12.08H7.82422C8.49089 12.08 9.01089 11.9133 9.38422 11.58C9.75755 11.2467 9.94422 10.7667 9.94422 10.14V9.46C9.94422 8.83333 9.75755 8.35333 9.38422 8.02C9.01089 7.68667 8.49089 7.52 7.82422 7.52H3.96422V12.08ZM20.6553 9.68H22.2353L17.6153 22.4C17.4953 22.7067 17.3753 22.96 17.2553 23.16C17.1353 23.3733 16.9886 23.54 16.8153 23.66C16.642 23.78 16.422 23.8667 16.1553 23.92C15.902 23.9733 15.5886 24 15.2153 24H14.3953V22.6H16.0153L16.7953 20.4L12.9353 9.68H14.5353L17.0153 16.7L17.4953 18.38H17.5953L18.1553 16.7L20.6553 9.68Z" fill="white"/>
        <g clip-path="url(#clip0_401_746)">
        <path d="M33.082 20.0001C31.6796 20.0001 30.4802 19.5332 29.4839 18.579C28.4875 17.626 28 16.4773 28 15.1342C28 13.7911 28.4875 12.6424 29.4839 11.6882C30.4802 10.734 31.6796 10.2671 33.082 10.2671C34.1999 10.2671 35.2163 10.5984 36.1312 11.2405V10.2671H38.164V20.0013H37.1476L36.1312 19.0279C35.2363 19.67 34.2199 20.0013 33.082 20.0013M33.082 18.0545C33.9154 18.0545 34.6473 17.7628 35.2363 17.1975C35.8254 16.6333 36.1312 15.9324 36.1312 15.1342C36.1312 14.336 35.8266 13.6351 35.2363 13.0709C34.6473 12.5068 33.9154 12.2139 33.082 12.2139C32.2486 12.2139 31.5167 12.5056 30.9276 13.0709C30.3386 13.6351 30.0328 14.336 30.0328 15.1342C30.0328 15.9324 30.3373 16.6333 30.9276 17.1975C31.5167 17.7616 32.2486 18.0545 33.082 18.0545Z" fill="white"/>
        <path d="M44.2623 10.2671V12.2139H42.2296V15.8544C42.2296 16.4581 42.4526 16.9838 42.9001 17.4111C43.3475 17.8396 43.8763 18.0533 44.5055 18.0533V20.0001C43.3061 20.0001 42.2897 19.5908 41.4563 18.7926C40.6229 17.9945 40.1955 17.0018 40.1955 15.8532V6.23657H42.2283V10.2659H44.2611L44.2623 10.2671Z" fill="white"/>
        <path d="M48.3417 10.2671H46.3089V20.0013H48.3417V10.2671Z" fill="white"/>
        <path d="M52.386 10.2671L55.6996 17.548L58.9932 10.2671H61.1877L56.7975 20.0001H54.5817L50.1715 10.2671H52.386Z" fill="white"/>
        <path d="M66.3925 20.0001C64.9901 20.0001 63.7907 19.5332 62.7944 18.579C61.798 17.6248 61.3105 16.4761 61.3105 15.133C61.3105 13.7899 61.798 12.6412 62.7944 11.687C63.7907 10.7328 64.9901 10.2659 66.3925 10.2659C67.5104 10.2659 68.5268 10.5971 69.4417 11.2393V10.2659H71.4745V20.0001H70.4581L69.4417 19.0267C68.5468 19.6688 67.5304 20.0001 66.3925 20.0001ZM66.3925 18.0532C67.2259 18.0532 67.9578 17.7616 68.5468 17.1963C69.1359 16.6321 69.4417 15.9312 69.4417 15.133C69.4417 14.3348 69.1371 13.6338 68.5468 13.0697C67.9578 12.5056 67.2259 12.2127 66.3925 12.2127C65.5591 12.2127 64.8272 12.5044 64.2381 13.0697C63.6491 13.6338 63.3433 14.3348 63.3433 15.133C63.3433 15.9312 63.6478 16.6321 64.2381 17.1963C64.8272 17.7604 65.5591 18.0532 66.3925 18.0532Z" fill="white"/>
        <path d="M73.5073 20.0001V10.2527C73.5073 9.104 73.9346 8.11137 74.768 7.31319C75.6015 6.51501 76.6179 6.10571 77.8172 6.10571V8.05256C77.1868 8.05256 76.658 8.26621 76.2118 8.69471C75.7644 9.1232 75.5413 9.64892 75.5413 10.2515V10.2659H77.5741V12.2127H75.5413V20.0001H73.5085H73.5073Z" fill="white"/>
        <path d="M87.7556 10.267V12.2139H85.7228V15.8543C85.7228 16.458 85.9459 16.9838 86.3933 17.4111C86.8407 17.8396 87.3696 18.0532 87.9987 18.0532V20.0001C86.7994 20.0001 85.783 19.5908 84.9495 18.7926C84.1161 17.9944 83.6888 17.0018 83.6888 15.8531V6.1897H85.7216V10.267H87.7544H87.7556Z" fill="white"/>
        <path d="M47.3253 6C47.6712 6 47.9758 6.11643 48.1989 6.35048C48.4432 6.56413 48.5648 6.857 48.5648 7.18707C48.5648 7.51715 48.4432 7.79081 48.1989 8.00446C47.9545 8.23851 47.67 8.35494 47.3253 8.35494C46.9807 8.35494 46.6949 8.23851 46.4719 8.00446C46.2275 7.79081 46.1059 7.51835 46.1059 7.18707C46.1059 6.8558 46.2275 6.58333 46.4719 6.35048C46.6949 6.11643 46.9794 6 47.3253 6Z" fill="white"/>
        <path d="M81.6735 10.2671H79.6407V20.0013H81.6735V10.2671Z" fill="white"/>
        </g>
        <defs>
        <clipPath id="clip0_401_746">
        <rect width="60" height="14" fill="white" transform="translate(28 6)"/>
        </clipPath>
        </defs>
      </svg>

      <div class="d-flex gap-3  mt-3 justify-content-center align-items-center">
        <div class="text-right d-flex flex-column align-items-end">
          <h3>From $399.99</h3>
          <h5><s>$599,98</s></h5>
        </div>
        <div>
          <a
            href="https://www.ativafit.com/cart/40147166199891:1?utm_source=google&utm_medium=cpc&utm_campaign=landing_page_testing"
            target="_blank"
            class="btn btn-primary px-4 py-2"
          >
            <h5>Start Today</h5>
          </a>
        </div>
      </div>
    </div>
  </div>

  {% comment %}
    <div class="position-absolute bottom-0 pb-5 z-5 d-flex justify-content-center w-100">
      <a class="" href="#content">
      <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M29.05 13.052L19.5417 22.5603C18.4188 23.6833 16.5813 23.6833 15.4583 22.5603L5.95 13.052" stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
      </a>
    </div>
  {% endcomment %}
</header>

{% schema %}
{
  "name": "Video background",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subheading"
    },
    {
      "type": "richtext",
      "id": "paragraph",
      "label": "Paragraph"
    },
    {
      "type": "video",
      "id": "video",
      "label": "A Shopify-hosted video"
    }
  ],
  "presets": [
    {
      "name": "Video background"
    }
  ]
}
{% endschema %}
