.grid-product__image-mask .image-wrap {
    padding-bottom: 125% !important;
}
.grid-product__image-mask .image-wrap img {
    height: 100% !important;
}
.product-image--placeholder {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
@font-face {
    font-family: 'Great Vibes';
    src: url('{{ "GreatVibes-Regular.ttf" | asset_url }}') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  .h1.hero__title {
    font-family: 'Great Vibes', cursive !important;
    text-transform: none !important;
  }