.image-wrap {
    padding-bottom: 125% !important;
}
.image-wrap img {
    height: 100% !important;
}
.product-image--placeholder {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}