body{
	margin: 0; padding: 0;
}
@font-face {
	font-family: Urbanist;
	src: url(https://cdn.shopify.com/s/files/1/2623/4904/files/Urbanist.TTF?v=1707098646);
}
@font-face {
	font-family: NotoSans;
	src: url(https://cdn.shopify.com/s/files/1/2623/4904/files/NOTOSANSHANS-REGULAR.OTF?v=1707098651);
}	
div, input{
	box-sizing: border-box;
}
img{
	vertical-align: middle;
}
.fa{
  font-family: FontAwesome;
}
.shane-cart .card__section .product-meta__text {
    margin-bottom: 15px;
}
.shane-cart .product-form__info-list {
    display: table;
    width: 100%;
    margin: 0 0 6px;
    border-spacing: 0 5px;
}
.shane-cart .product-form__info-item--quantity>*{
    padding-top:0px;
}